<!Doctype html>
<html ng-app="myApp" >
    <head>
        <title>Blaze</title>
        <meta charset='UTF-8' />
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-route.min.js"></script>
        <script src="/js/underscore.min.js"></script>
        <script src="/js/customerCare.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/customer.css">
    </head>
    <body ng-controller='mainCtrl' style="width:1500px;height:700px;margin: 0 auto;">
        <div class="mainContainer" style="margin:0 auto; width:100%;">
            <div class="header">
                <div style="text-align: center;">
                    <h1>Customer Support Portal</h1>
                    <img class="image" src="/images/logo.png">
                </div>
                <div style="clear: both;"></div>
                <div class="mainBar">
                    <span ng-bind='date'></span>
                    &emsp;&emsp;&emsp;&emsp;
                    <span ng-bind='currentTime'></span>
                    <input type="button" value="Requests" ng-click='showRequests()' ng-show='requestBtn'></input>
                    <select ng-show='userSelect' ng-model="logoutSelect" ng-change='logout(this)' ng-options="opt as opt.label for opt in options"></select>
                </div>
            </div>
            <div class="Content" ng-view ></div>
        </div>
    </body>
</html>