<div class="leftContainer commentLeftContainer">
    <div class="subHeader">
        <div style="float:left;">
            <span>Customer: <b>{{ email }}</b> Ticket ID: <b>{{ ticketId }}</b></span>
        </div>
        <div class="searchDiv">
            <span>EXPORT</span>&emsp;&emsp;
            <input type="search" ng-model="search" placeholder="Search">
        </div>
    </div>
    <input class="importBtn btn-primary" ng-click='importData()' value="IMPORT CUSTOMER DATA" type="button">
    <div class='remarksDiv'>
        <h4>Remarks</h4>
        <textarea ng-model="remarks" class="form-control" maxlength='300'></textarea>
        <p class="floatRight">max 300 characters.</p>
    </div>
    <div class="btnDiv">
        <button class="btn btn-primary" ng-click='close(false)' style="margin-left: 30px !important;" type="button" >RESOLVED</button>
        <button class="btn btn-primary" ng-click='close(true)' style="float:right;" type="button" >PENDING</button>
    </div>
</div>
<style type="text/css">
    .mainBar {
        margin-bottom: 5%;
    }
    .btnDiv {
        width: 50%;
        margin-left: 20%;
    }
    .btnDiv button {
        height: 50px;
        font-size: 16px;
        margin:0 !important;
        border-radius: 15px;
    }
    .leftContainer input {
        margin: 2%;
    }
</style>