<div class="leftContainer" style="">
    <div class="subHeader" >
        <button ng-repeat="btn in btns" ng-click='btnClick(btn)' class="btn btn-primary">{{btn}}</button>
    </div>
    <div style="clear: both;"></div>    
    <div ng-show='IsHidden'>        
        <table border="1" cellpadding="10">
            <tr>
                <td style="background: #5A8CEA;" ng-repeat="items in keys">{{items}}</td>
            </tr>
            <tr ng-repeat="item in tickets" ng-click="onTicketSelect(item)">
                <td>{{ item.customer_pin }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.ticketId }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.status }} {{ item.fullDate }}</td>
            </tr>
        </table>
        <input class="btn btn-primary" style="margin:20px 0 !important;border-radius: 15px;" value="Back" ng-click="back()">
    </div>
</div>
<style type="text/css">
    .mainBar {
        margin-bottom: 5%;
    }
    table {
       width: 100%;
    }
    th, td {
        width:134px;
        height: 55px; 
        text-align: center;
        border: .5px solid #fff;
    }
    tr:nth-child(even){
        background-color: #B4CBF6
    }
    tr:nth-child(odd){
        background-color: #80A4E6
    }
    .subHeader {
        margin: 0 auto;
        padding-left: 5%;
    }
    .leftContainer {
        width: 100%;
        padding-left: 0%;
    }
    .btn{
        margin: 0px 10% !important;
    }
</style>