.leftContainer {
    float: left;
    width: 50%;
    padding-left: 10%
}
.leftContainer input {
    width: 50%;
    margin-top: 5%
}
.rightContainer {
    float: right;
    width: 50%;
    padding-right: 10%
}
.leftHalf {
    width: 50%;
    float: left;
}
.rightHalf {
    width: 50%;
}
.rightContainer div {
    padding-bottom: 5%;
}
.mainBar {
    background-color: lightgrey;
    border-radius: 6px;
    margin-bottom: 10%;
    padding: 10px 15%;
}
.image {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 30%;
}
.header {
    margin-top: 5%;
    width: 100%;
}
.header h1 {
    margin: 0;
    padding-top: 20px;
    display: inline-block;
    margin-left: -30%;
}
.commentLeftContainer {
    width: 100%;
    padding-left: 5%;
}
.commentLeftContainer input {
    width: 80%
}
.leftHalf {
    width: 20%;
    margin-top: 10px;
    float: left;
}
textarea {
    width: 80% !important;
    height: 140px !important;
}
.importBtn {
    margin: auto 36% !important;
    width: 20% !important;
    height: 60px;
    border: 1px solid #3C3B3B;
    border-radius: 10px;
}
.mainBar select {
    float: right;
    width: 15%;
    background-color: white;
    height: 25px;
    border-radius: 5px;
    margin-top: -3px;
}
.leftContainer div{
    margin-bottom: 5%;
}
.btn {
    width: 150px !important;
    margin: 0px 40% !important;
}
.remarksDiv {
    width: 70%;
    height: 100%;
    margin: 5%;
}
.remarksDiv h4 {
    float:left;
    width:20%;
    margin-top:6%;
}
.searchDiv {
    float:right;
    width: 30%;
}
.searchDiv input {
    width: 50% !important;
    border-radius: 10px;
    margin: 0;
    padding-left: 2%;
}
.floatRight {
    float: right;
}
.mainBar input {
    width: 15%;
    height: 24px;
    margin-top: -3px;
    margin-left: 40%;
    background-color: white;
    font-size: 16px;
}